.fondoapp{
    background-image:url("../images/kids/casa.jpg");
    background-repeat:no-repeat;
    height:650px;
    position:relative;
}

.alec{
    cursor:pointer;
    background-image: url("../images/kids/sprites/alec.png");
    height: 120px;
    left: 361px;
    position: absolute;
    top: 160px;
    width: 72px;
    z-index: 99999999;
    
    -webkit-animation: stop .8s steps(13) infinite;
       -moz-animation: stop .8s steps(13) infinite;
        -ms-animation: stop .8s steps(13) infinite;
         -o-animation: stop .8s steps(13) infinite;
            animation: stop .8s steps(13) infinite;
}
.almove{
     animation: 0.8s steps(13, end) 0s normal none infinite play;   
}

@-webkit-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-moz-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-ms-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-o-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

/*
@-webkit-keyframes stop {
   from { background-position:    0px 0px; }
     to { background-position: 0px 0px; }
}

@-moz-keyframes stop {
   from { background-position:    0px 0px; }
     to { background-position: 0px 0px; }
}

@-ms-keyframes stop {
   from { background-position:    0px 0px; }
     to { background-position: 0px 0px; }
}

@-o-keyframes stop {
   from { background-position:    0px 0px; }
     to { background-position: 0px 0px; }
}

@keyframes sto {
   from { background-position:    0px 0px; }
     to { background-position: 0px 0px; }
}

*/

#nologo{
 height:0;   
}
#contentappkids{
    
    height:650px;
    position:relative;
}
#logo-nino{
  left: 8px;
    position: absolute;
    top: 0;
    z-index: 9999999;
}
#robot-salir{
 position:absolute;
    left:0;
    top:20px;
    z-index:9999999;
    cursor:hand;
    cursor:pointer;
   
}



#leamos{
background-color: yellow;
    height: 70px;
    position: absolute;
    right: 194px;
    top: 194px;
    width: 200px;
   cursor:hand;
    cursor:pointer;
}
#colors_sketch{
 /*border:2px solid #16A085;*/
    background-color:white;
    border:2px solid grey;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    height:400px;
}
.colore-paleta{
    margin: 5px 1%;
    width: 6%;  
}

#continuaelcuento{
   background-color: #FFFF00;
    height: 70px;
    left: 368px;
    position: absolute;
    top: 328px;
    width: 200px;
    cursor:hand;
    cursor:pointer;
}
#dibujalahistoria{
     background-color: #FFFF00;
    bottom: 105px;
    height: 70px;
    position: absolute;
    right: 396px;
    width: 200px;
    cursor:hand;
    cursor:pointer;
}
#fondo-dibuja{
        position: absolute;
left:0;
    top:0;
    width:1170px;
    
}

#maquina{
    background-color: #FF0000;
    height: 70px;
    position: absolute;
    right: 519px;
    top: 225px;
    width: 70px;
    cursor:hand;
    cursor:pointer;
 
}
#camara{
      background-color: #FF0000;
    height: 116px;
    position: absolute;
    right: 380px;
    top: 329px;
    width: 70px;
    cursor:hand;
    cursor:pointer;
 
}
#lampara{
    background-color: #FF0000;
    bottom: 114px;
    height: 59px;
    position: absolute;
    right: 281px;
    width: 72px;
    cursor:hand;
    cursor:pointer;
 
}
#cartel{
    height: 70px;
    left: 24px;
    position: absolute;
    top: 92px;
    width: 246px;
    z-index:9999999;
    cursor:hand;
    cursor:pointer;
 
}
#historia-a-dibujar{
 position:absolute;
 width:40%;
    left:30%;
    top:10px;
    background-color:white;
    max-height:600px;
    overflow:auto;
}
#vamos-historia-a-dibujar{
    position:absolute;
    width:40%;
    left:30%;
    top:500px;
    /*background-color:white;  */
}
#historia-a-dibujar-app{
    position:absolute;
    width:70%;
    left:15%;
    top:10px;
    background-color:white;
    display:none;
    border:2px solid grey;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.titulo-historia{
 background-color: #D3D3D3;
    border-radius: 9px;
    margin-top: 0;
    padding: 10px 0;
    width: auto;  
}

    .transparent_class {
    filter:alpha(opacity=50); /* ie */
    -moz-opacity:0.5; /* old mozilla browser like netscape */
    -khtml-opacity: 0.5; /* for really really old safari */
    opacity: 0.5; /* css standard, currently it works in most modern browsers like firefox, */
    }

 .transparent_class_2
    filter:alpha(opacity=80); /* ie */
    -moz-opacity:0.8; /* old mozilla browser like netscape */
    -khtml-opacity: 0.8; /* for really really old safari */
    opacity: 0.8; /* css standard, currently it works in most modern browsers like firefox, */
    }

