.fondoapp{
    background-image:url("../images/kids/casa.jpg");
    background-repeat:no-repeat;
    height:650px;
    position:relative;
}
/*ALEC*/
.alec{
    cursor:pointer;
    background-image: url("../images/kids/sprites/alec.png");
    height: 120px;
    left: 361px;
    position: absolute;
    top: 160px;
    width: 72px;
    z-index: 99999999;
    

}
.alecmove{
     animation: 0.8s steps(13, end) 0s normal none infinite play;   
     -webkit-animation: play .8s steps(13) infinite;
       -moz-animation:  play .8s steps(13) infinite;
        -ms-animation:  play .8s steps(13) infinite;
         -o-animation:  play .8s steps(13) infinite;
            animation:  play .8s steps(13) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-moz-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-ms-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-o-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}
/*ALEC*/

/*ATRIL*/
.atril{
    background-image: url("../images/kids/sprites/atril.png");
    bottom: 80px;
    cursor: pointer;
    height: 130px;
    left: 361px;
    position: absolute;
    width: 80px;
    z-index: 99999999;
}
.atrilmove{
     animation: 5s steps(60, end) 0s normal none infinite playatril;   
     -webkit-animation: playatril 5s steps(60) infinite;
       -moz-animation:  playatril 5s steps(60) infinite;
        -ms-animation:  playatril 5s steps(60) infinite;
         -o-animation:  playatril 5s steps(60) infinite;
            animation:  playatril 5s steps(60) infinite;
}

@-webkit-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: -4720px 0px; }
}

@-moz-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: -4720px 0px; }
}

@-ms-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: -4720px 0px; }
}

@-o-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: -4720px 0px; }
}

@keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: -4720px 0px; }
}
/*ATRIL*/

/*LAMP*/
.lamp{
    cursor:pointer;
    background-image: url("../images/kids/sprites/lamp.png");
    height: 156px;
    right: 101px;
    position: absolute;
    bottom: 260px;
    width: 99px;
    z-index: 99999999;
    

}
.lampmove{
     animation: 4s steps(48, end) 0s normal none infinite playlamp;   
     -webkit-animation: playlamp 4s steps(48) infinite;
       -moz-animation:  playlamp 4s steps(48) infinite;
        -ms-animation:  playlamp 4s steps(48) infinite;
         -o-animation:  playlamp 4s steps(48) infinite;
            animation:  playlamp 4s steps(48) infinite;
}

@-webkit-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@-moz-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@-ms-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@-o-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}
/*ATRIL*/
/*Claqueta*//*
.clac{
    cursor:pointer;
    background-image: url("../images/kids/sprites/clac.png");
    height: 45px;
    right: 461px;
    position: absolute;
    top: 260px;
    width: 45px;
    z-index: 99999999;
    
.clacmove{
     animation: 1s steps(12, end) 0s normal none infinite playclac;   
     -webkit-animation: playclac 1s steps(12) infinite;
       -moz-animation:  playclac 1s steps(12) infinite;
        -ms-animation:  playclac 1s steps(12) infinite;
         -o-animation:  playclac 1s steps(12) infinite;
            animation:  playclac 1s steps(12) infinite;
}

@-webkit-keyframes playclac {
   from { background-position:    0px 0px; }
     to { background-position: 0px -650px; }
}

@-moz-keyframes playclac {
   from { background-position:    0px 0px; }
     to { background-position: 0px -650px; }
}

@-ms-keyframes playclac {
   from { background-position:    0px 0px; }
     to { background-position: 0px -650px; }
}

@-o-keyframes playclac {
   from { background-position:    0px 0px; }
     to { background-position: 0px -650px; }
}

@keyframes playclac {
   from { background-position:    0px 0px; }
     to { background-position: 0px -650px; }
}
/*CLAC*/

/*CAM*//*
.came{
    cursor:pointer;
    background-image: url("../images/kids/sprites/cam.png");
    height: 120px;
    left: 361px;
    position: absolute;
    top: 160px;
    width: 72px;
    z-index: 99999999;
    

}
.camemove{
     animation: 0.8s steps(13, end) 0s normal none infinite playcam;   
     -webkit-animation: playcam .8s steps(13) infinite;
       -moz-animation:  playcam .8s steps(13) infinite;
        -ms-animation:  playcam .8s steps(13) infinite;
         -o-animation:  playcam .8s steps(13) infinite;
            animation:  playcam .8s steps(13) infinite;
}

@-webkit-keyframes playcam {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-moz-keyframes playcam {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-ms-keyframes playcam {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-o-keyframes playcam {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@keyframes playcam {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}
/*ALEC*/
    
    
#nologo{
 height:0;   
}
#contentappkids{
    
    height:650px;
    position:relative;
}
#logo-nino{
  left: 8px;
    position: absolute;
    top: 0;
    z-index: 9999999;
}
#robot-salir{
 position:absolute;
    left:0;
    top:20px;
    z-index:9999999;
    cursor:hand;
    cursor:pointer;
   
}



#leamos{
background-color: yellow;
    height: 70px;
    position: absolute;
    right: 194px;
    top: 194px;
    width: 200px;
   cursor:hand;
    cursor:pointer;
}
#colors_sketch{
 /*border:2px solid #16A085;*/
    background-color:white;
    border:2px solid grey;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    height:400px;
}
.colore-paleta{
    margin: 5px 1%;
    width: 6%;  
}

#continuaelcuento{
   background-color: #FFFF00;
    height: 70px;
    left: 368px;
    position: absolute;
    top: 328px;
    width: 200px;
    cursor:hand;
    cursor:pointer;
}
#dibujalahistoria{
     background-color: #FFFF00;
    bottom: 105px;
    height: 70px;
    position: absolute;
    right: 396px;
    width: 200px;
    cursor:hand;
    cursor:pointer;
}
#fondo-dibuja{
        position: absolute;
left:0;
    top:0;
    width:1170px;
    
}

#maquina{
    background-color: #FF0000;
    height: 70px;
    position: absolute;
    right: 519px;
    top: 225px;
    width: 70px;
    cursor:hand;
    cursor:pointer;
 
}
#camara{
      background-color: #FF0000;
    height: 116px;
    position: absolute;
    right: 380px;
    top: 329px;
    width: 70px;
    cursor:hand;
    cursor:pointer;
 
}
#lampara{
    background-color: #FF0000;
    bottom: 114px;
    height: 59px;
    position: absolute;
    right: 281px;
    width: 72px;
    cursor:hand;
    cursor:pointer;
 
}
#cartel{
    height: 70px;
    left: 24px;
    position: absolute;
    top: 92px;
    width: 246px;
    z-index:9999999;
    cursor:hand;
    cursor:pointer;
 
}
#historia-a-dibujar{
 position:absolute;
 width:40%;
    left:30%;
    top:10px;
    background-color:white;
    max-height:600px;
    overflow:auto;
}
#vamos-historia-a-dibujar{
    position:absolute;
    width:40%;
    left:30%;
    top:500px;
    /*background-color:white;  */
}
#historia-a-dibujar-app{
    position:absolute;
    width:70%;
    left:15%;
    top:10px;
    background-color:white;
    display:none;
    border:2px solid grey;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.titulo-historia{
 background-color: #D3D3D3;
    border-radius: 9px;
    margin-top: 0;
    padding: 10px 0;
    width: auto;  
}

    .transparent_class {
    filter:alpha(opacity=50); /* ie */
    -moz-opacity:0.5; /* old mozilla browser like netscape */
    -khtml-opacity: 0.5; /* for really really old safari */
    opacity: 0.5; /* css standard, currently it works in most modern browsers like firefox, */
    }

 .transparent_class_2
    filter:alpha(opacity=80); /* ie */
    -moz-opacity:0.8; /* old mozilla browser like netscape */
    -khtml-opacity: 0.8; /* for really really old safari */
    opacity: 0.8; /* css standard, currently it works in most modern browsers like firefox, */
    }

