.fondoapp{
    background-image:url("../images/kids/casa.jpg");
    background-repeat:no-repeat;
    height:650px;
    position:relative;
}
/*ALEC*/
.alec{
    cursor:pointer;
    background-image: url("../images/kids/sprites/alec.png");
    height: 120px;
    left: 361px;
    position: absolute;
    top: 160px;
    width: 72px;
    z-index: 99999999;
    

}
.alecmove{
     animation: 0.8s steps(13, end) 0s normal none infinite play;   
     -webkit-animation: play .8s steps(13) infinite;
       -moz-animation:  play .8s steps(13) infinite;
        -ms-animation:  play .8s steps(13) infinite;
         -o-animation:  play .8s steps(13) infinite;
            animation:  play .8s steps(13) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-moz-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-ms-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@-o-keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}

@keyframes play {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1572px; }
}
/*ALEC*/

/*ATRIL*/
.atril{
    background-image: url("../images/kids/sprites/atril5.png");
    bottom: 80px;
    cursor: pointer;
    height: 131px;
    left: 361px;
    position: absolute;
    width: 62px;
    z-index: 99999999;
}
.atrilmove{
     animation: 5s steps(59, end) 0s normal none infinite playatril;   
     -webkit-animation: playatril 5s steps(59) infinite;
       -moz-animation:  playatril 5s steps(59) infinite;
        -ms-animation:  playatril 5s steps(59) infinite;
         -o-animation:  playatril 5s steps(59) infinite;
            animation:  playatril 5s steps(59) infinite;
}
7476
@-webkit-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7729px; }
}

@-moz-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7729px; }
}

@-ms-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7729px; }
}

@-o-keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7729px; }
}

@keyframes playatril {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7729px; }
}
/*ATRIL*/

/*LAMP*/
.lamp{
      background-image: url("../images/kids/sprites/lamp.png");
    bottom: 58px;
    cursor: pointer;
    height: 156px;
    position: absolute;
    right: 340px;
    width: 99px;
    z-index: 99999999;
    

}
.lampmove{
     animation: 4s steps(48, end) 0s normal none infinite playlamp;   
     -webkit-animation: playlamp 4s steps(48) infinite;
       -moz-animation:  playlamp 4s steps(48) infinite;
        -ms-animation:  playlamp 4s steps(48) infinite;
         -o-animation:  playlamp 4s steps(48) infinite;
            animation:  playlamp 4s steps(48) infinite;
}

@-webkit-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@-moz-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@-ms-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@-o-keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}

@keyframes playlamp {
   from { background-position:    0px 0px; }
     to { background-position: 0px -7488px; }
}
    
/*LEEMOS*/
.leamos{
    background-image: url("../images/kids/sprites/leamos.png");
    cursor: pointer;
    height: 95px;
    position: absolute;
    right: 300px;
    top: 135px;
    width: 184px;
    z-index: 99999999;
    

}
.leamosmove{
     animation: 2s steps(29, end) 0s normal none infinite playleamos;   
     -webkit-animation: playleamos 2s steps(29) infinite;
       -moz-animation:  playleamos 2s steps(29) infinite;
        -ms-animation:  playleamos 2s steps(29) infinite;
         -o-animation:  playleamos 2s steps(29) infinite;
            animation:  playleamos 2s steps(29) infinite;
}

@-webkit-keyframes playleamos {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-moz-keyframes playleamos {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-ms-keyframes playleamos {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-o-keyframes playleamos {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@keyframes playleamos {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

/*Dibujemos*/
          
.dibujalahistoria{
    background-image: url("../images/kids/sprites/dibujar.png"); 
    bottom: 123px;
    cursor: pointer;
    height: 95px;
    position: absolute;
    right: 481px;
    width: 184px;
    z-index: 99999999;
    

}
.dibujalahistoriamove{
     animation: 2s steps(29, end) 0s normal none infinite playdibujalahistoria;   
     -webkit-animation: playdibujalahistoria 2s steps(29) infinite;
       -moz-animation:  playdibujalahistoria 2s steps(29) infinite;
        -ms-animation:  playdibujalahistoria 2s steps(29) infinite;
         -o-animation:  playdibujalahistoria 2s steps(29) infinite;
            animation:  playdibujalahistoria 2s steps(29) infinite;
}

@-webkit-keyframes playdibujalahistoria {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-moz-keyframes playdibujalahistoria {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-ms-keyframes playdibujalahistoria {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-o-keyframes playdibujalahistoria {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@keyframes playdibujalahistoria {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

/*continuaelcuento*/

.continuaelcuento{
    background-image: url("../images/kids/sprites/video.png");
    bottom: 258px;
    cursor: pointer;
    height: 95px;
    left: 391px;
    position: absolute;
    width: 184px;
    z-index: 99999999;
    

}
.continuaelcuentomove{
     animation: 2s steps(29, end) 0s normal none infinite playcontinuaelcuento;   
     -webkit-animation: playcontinuaelcuento 2s steps(29) infinite;
       -moz-animation:  playcontinuaelcuento 2s steps(29) infinite;
        -ms-animation:  playcontinuaelcuento 2s steps(29) infinite;
         -o-animation:  playcontinuaelcuento 2s steps(29) infinite;
            animation:  playcontinuaelcuento 2s steps(29) infinite;
}

@-webkit-keyframes playcontinuaelcuento {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-moz-keyframes playcontinuaelcuento {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-ms-keyframes playcontinuaelcuento {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@-o-keyframes playcontinuaelcuento {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}

@keyframes playcontinuaelcuento {
   from { background-position:    0px 0px; }
     to { background-position: 0px -2755px; }
}
/*camara*/

.camara{
   background-image: url("../images/kids/sprites/camara.png");
    bottom: 237px;
    cursor: pointer;
    height: 134px;
    position: absolute;
    right: 300px;
    width: 230px;
    z-index: 99999999;
}
.camaramove{
     animation: 1s steps(11, end) 0s normal none infinite playcamara;   
     -webkit-animation: playcamara 1s steps(11) infinite;
       -moz-animation:  playcamara 1s steps(11) infinite;
        -ms-animation:  playcamara 1s steps(11) infinite;
         -o-animation:  playcamara 1s steps(11) infinite;
            animation:  playcamara 1s steps(11) infinite;
}

@-webkit-keyframes playcamara {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1474px; }
}

@-moz-keyframes playcamara  {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1474px; }
}

@-ms-keyframes playcamara  {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1474px; }
}

@-o-keyframes playcamara {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1474px; }
}

@keyframes playcamara  {
   from { background-position:    0px 0px; }
     to { background-position: 0px -1474px; }
}

/*++*/
    
#nologo{
 height:0;   
}
#contentappkids{
    
    height:650px;
    position:relative;
}
#logo-nino{
  left: 8px;
    position: absolute;
    top: 0;
    z-index: 9999999;
}
#robot-salir{
 position:absolute;
    left:0;
    top:20px;
    z-index:9999999;
    cursor:hand;
    cursor:pointer;
   
}




#colors_sketch{
 /*border:2px solid #16A085;*/
    background-color:white;
    border:2px solid grey;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    height:400px;
}
.colore-paleta{
    margin: 5px 1%;
    width: 6%;  
}


#fondo-dibuja{
        position: absolute;
left:0;
    top:0;
    width:1170px;
    
}


#cartel{
    height: 70px;
    left: 24px;
    position: absolute;
    top: 92px;
    width: 246px;
    z-index:9999999;
    cursor:hand;
    cursor:pointer;
 
}
#historia-a-dibujar{
 position:absolute;
 width:40%;
    left:30%;
    top:10px;
    background-color:white;
    max-height:600px;
    overflow:auto;
}
#historia-a-dibujar-app{
    position:absolute;
    width:70%;
    left:15%;
    top:10px;
    background-color:white;
    display:none;
    border:2px solid grey;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#vamos-historia-a-dibujar{
    position:absolute;
    width:40%;
    left:30%;
    top:500px;
    /*background-color:white;  */
}
.titulo-historia{
 background-color: #D3D3D3;
    border-radius: 9px;
    margin-top: 0;
    padding: 10px 0;
    width: auto;  
}

    .transparent_class {
    filter:alpha(opacity=50); /* ie */
    -moz-opacity:0.5; /* old mozilla browser like netscape */
    -khtml-opacity: 0.5; /* for really really old safari */
    opacity: 0.5; /* css standard, currently it works in most modern browsers like firefox, */
    }

 .transparent_class_2
    filter:alpha(opacity=80); /* ie */
    -moz-opacity:0.8; /* old mozilla browser like netscape */
    -khtml-opacity: 0.8; /* for really really old safari */
    opacity: 0.8; /* css standard, currently it works in most modern browsers like firefox, */
    }

